<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="miniblink,浏览器开发,Web开发,界面开发,控件开发,Qt控件,工业控件,金融控件,ERP,BS,CS,图表开发,嵌入式开发,界面设计,控件设计,图标设计,Delphi界面开发,WinForm界面开发">
    <meta name="description" content="miniblink是一款极致小巧的开源浏览器控件，可嵌入各种软件中，提供浏览服务">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Miniblink - 小巧开源的浏览器控件</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="header-logo">
            <h1>Miniblink</h1>
        </div>
        <div class="header-nav">
            <div class="header-nav-item">
                <a href="../index.html">首页</a>
            </div>
            <div class="header-nav-item">
                <a href="../views/doc/index.html">文档</a>
            </div>
            <div class="header-nav-item">
                <a href="../views/features.html">Miniblink定制</a>
            </div>
            <div class="header-nav-item">
                <a href="https://github.com/weolar/miniblink49/releases" target="_bank">下载</a>
            </div>
            <div class="header-nav-item header-nav-active">
                <a href="" target="_bank">Cef、Electron xp加强版</a>
            </div>
            <div class="header-nav-item">
                <a href="./doc/company.html" target="_bank">公司简介</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <a href="https://github.com/weolar/miniblink49/releases" target="_bank">
                    <img src="../../images/icon/github.png">
                    <span>Github</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- doc -->

<div class="main">
    <div class="container">
        <div class="container-title">
            <h1>新产品：功能增强版cef与electron</h1>
            <!--<p>Choice</p>-->
            <p>如果官方cef和electron满足不了您的需求，可以考虑购买Cef、Electron的功能加强版。</p> 
            <p>加强版用法和原版完全一样，只是新增了接口与功能</p> 
        </div>
        
        <div class="feature-list">
        
            <div class="feature-list-item">
                <div class="feature-list-wrap">
                    <div class="feature-list-item-header">
                        <div class="feature-list-item-header-title">Cef加强版<small>cef exhance</small></div>
                        <div class="feature-list-item-header-price">￥4999</div>
                    </div>
                    <div class="feature-list-item-body">
                        <ul>
                            <li style="font-weight:bold">增加对xp支持</li>
                            <li style="font-weight:bold">增加npapi支持</li>
                            <li style="font-weight:bold">增加静默打印，可设置各种打印参数</li>
                            <li>更多的底层设置</li>
                            <li>支持定制</li>
                            <li>永久授权</li>
                            <li>购买后可在软件中自由分发</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="feature-list-item">
                <div class="feature-list-wrap">
                    <div class="feature-list-item-header">
                        <div class="feature-list-item-header-title">electron加强版</div>
                        <div class="feature-list-item-header-price">￥4999</div>
                    </div>
                    <div class="feature-list-item-body">
                        <ul>
                            <li style="font-weight:bold">增加对xp支持</li>
                            <li style="font-weight:bold">增加npapi支持</li>
                            <li style="font-weight:bold">增加静默打印，可设置各种打印参数</li>
                            <li>更多的底层设置</li>
                            <li>支持定制</li>
                            <li>永久授权</li>
                            <li>购买后可在软件中自由分发</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="feature-list-item">
                <div class="feature-list-wrap">
                    <div class="feature-list-item-header">
                        <div class="feature-list-item-header-title">完整源码<small>Source code</small></div>
                        <div class="feature-list-item-header-price">￥43,999</div>
                    </div>
                    <div class="feature-list-item-body">
                        <ul>
                            <li>源码仅供购买者使用，禁止二次分发、传播</li>
                            <li>完整版代码包含硬件加速、webgl相关</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-title">
            <h1>注意事项</h1>
            <p>Matters needing attention</p>
        </div>
        <div class="feature-tips">
            <blockquote>
                <ul>
                    <li>若需购买，请下载最新SDK包，打开vip-miniblink.exe，点击“更多”按钮，填入您的邮箱，并将请求码通过邮件发送给 weolar@miniblink.net</li>
                    <li>购买后，会获得一个lisence.key文件，放在dll目录下即可。</li>
                    <li>付款后不支持退款，谢谢支持</li>
                </ul>
            </blockquote>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>珠海独角兽科技有限公司 版权所有，邮箱：weolar@miniblink.com , <a href="http://beian.miit.gov.cn">粤ICP备18103739号</a></p>
    </div>
</div>
</body>
</html>