<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="miniblink,浏览器开发,Web开发,界面开发,控件开发,Qt控件,工业控件,金融控件,ERP,BS,CS,图表开发,嵌入式开发,界面设计,控件设计,图标设计,Delphi界面开发,WinForm界面开发">
    <meta name="description" content="miniblink是一款极致小巧的开源浏览器控件，可嵌入各种软件中，提供浏览服务">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Miniblink - 免费小巧开源的浏览器控件</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="header-logo">
            <h1>Miniblink</h1>
        </div>
        <div class="header-nav">
            <div class="header-nav-item">
                <a href="../index.html">首页</a>
            </div>
            <div class="header-nav-item">
                <a href="./doc/index.html">文档</a>
            </div>
            <div class="header-nav-item header-nav-active">
                <a href="./features.html">Miniblink VIP</a>
            </div>
            <div class="header-nav-item">
                <a href="https://github.com/weolar/miniblink49/releases" target="_bank">下载</a>
            </div>
            <div class="header-nav-item">
                <a href="../views/exhance.html" target="_bank">Cef、Electron xp加强版</a>
            </div>
            <div class="header-nav-item">
                <a href="./doc/company.html" target="_bank">公司简介</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <a href="https://github.com/weolar/miniblink49/releases" target="_bank">
                    <img src="../images/icon/github.png">
                    <span>Github</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- banner -->
<div class="header-banner">
    <div class="header-banner-title">Miniblink</div>
    <div class="header-banner-info">免费小巧开源的浏览器控件，全球最小的基于chromium的浏览器控件，没有之一</div>
    <div class="header-banner-btns">
        <a href="https://github.com/weolar/miniblink49/releases">下载SDK</a>
        <a href="./doc/index.html">入门文档</a>
    </div>
    <div class="header-banner-infoList">
        <div class="header-banner-infoList-item">极致小巧的体积</div>
        <div class="header-banner-infoList-item">内嵌Nodejs，支持electron</div>
        <div class="header-banner-infoList-item">支持Windows XP、npapi</div>
        <div class="header-banner-infoList-item">C++、C#、Delphi等语言调用</div>
        <div class="header-banner-infoList-item">随心所欲的定制功能、模拟环境</div>
        <div class="header-banner-infoList-item">完美支持各种H5效果</div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="container-title">
            <h1>MB版本、功能及价格说明</h1>
        </div>
        
        <script>
        function scrollBottom()
        {
            window.scrollTo(0, document.body.scrollHeight);
        }
        </script>

        <div>
            <table border="1px" cellspacing="0px" cellpadding="6px" style="vertical-align: middle; text-align: center; border: 1px solid black; border-collapse: collapse;">
                <tr height="50" style="background: #393D49; color:#f1f1f1;">
                  <td style="border: 1px solid black;" width="200">功能 / 版本</td>
                  <td style="border: 1px solid black;" width="200">基础版</td>
                  <td style="border: 1px solid black;" width="200">标准版</td>
                  <td style="border: 1px solid black;" width="200">个人VIP版</td>
                  <td style="border: 1px solid black;" width="200">企业VIP版</td>
                  <td style="border: 1px solid black;" width="200">特殊定制版</td>
                  <td style="border: 1px solid black;" width="200">Android版</td>
                  <td style="border: 1px solid black;" width="200">Linux版</td>
                </tr>
                <tr height="180">
                  <td style="border: 1px solid black;"  style="border: 1px solid black;" >说明</td>
                  <td style="border: 1px solid black;" >完全免费，适合嵌入其他程序中，作为界面组件。支持主流js界面库，开发快速，动态排版，可热更新，个人/企业可用。</td>
                  <td style="border: 1px solid black;" >免费版基础上添加一些实用功能，如独立cookie、拦截数据等，个人/企业可用。</td>
                  <td style="border: 1px solid black;" >在标准版基础上提供更多个性化及强化功能，仅供个人学习、教育机构教学，独立开发者发布个人作品使用，不可用于企业发布软件，违者将受到法律追责。</td>
                  <td style="border: 1px solid black;" >功能基本同个人版VIP，但提供更多企业级功能，企业产品使用请购买此版本商业授权。</td>
                  <td style="border: 1px solid black;" >行业或产品特殊需求定制，具体私聊。</td>
                  <td style="border: 1px solid black;" >主要针对移动端，提供免费版及标准版功能</td>
                  <td style="border: 1px solid black;" >主要针对嵌入式系统，适配各种小内存低性能硬件特性</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >价格</td>
                  <td style="border: 1px solid black;" >免费 / 有广告（可关闭）</td>
                  <td style="border: 1px solid black;" >免费 / 有广告</td>
                  <td style="border: 1px solid black;" >888 / 永久授权</td>
                  <td style="border: 1px solid black;" ><span style="color: #0000FF; text-decoration: underline;" onclick="scrollBottom()">咨询</span></td>
                  <td style="border: 1px solid black;" ><span style="color: #0000FF; text-decoration: underline;" onclick="scrollBottom()">咨询</span></td>
                  <td style="border: 1px solid black;" ><span style="color: #0000FF; text-decoration: underline;" onclick="scrollBottom()">咨询</span></td>
                  <td style="border: 1px solid black;" ><span style="color: #0000FF; text-decoration: underline;" onclick="scrollBottom()">咨询</span></td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >标准功能接口</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >高性能多线程渲染</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >多媒体支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >独立cookie及代理等</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >NodeJS支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >NPAPI支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >ActiveX支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >WebGL支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >下载管理</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >修改指纹特征</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >打印及预览</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >资源打包</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >硬盘本地缓存</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >小内存（V8替换QJS）</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >常用行业SDK集成</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >Windows XP支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >模拟移动端环境</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
                <tr height="40">
                  <td style="border: 1px solid black;" >专属客服及技术支持</td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" ></td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >√</td>
                  <td style="border: 1px solid black;" >-</td>
                  <td style="border: 1px solid black;" >-</td>
                </tr>
            </table>
        </div>

        <div class="container-title">
            <h1>版本及购买说明</h1>
        </div>
        <div class="feature-tips">
            <blockquote>
                <ul>
                    <li>● 基础版：完全免费，有广告，可通过接口选择关闭广告。仅提供最基本的页面渲染功能，可用于作为用户界面组件实现原生+H5开发模式，类似移动端的react框架，不设限制，可用于个人及企业发布软件。</li>
                    <li>● 标准版：完全免费，有广告，且广告不可关闭，如不能接受请购买VIP版。在免费版的基础上提供更多的实用接口，免费实用广告不可关闭，不设限制，可用于个人及企业发布软件。</li>
                    <li>● 个人VIP版：888元永久授权，提供更多实用功能，同时仅供个人学习、教育机构教学，独立开发者发布个人作品使用，不可用于企业发布软件，违者将受到法律追责。</li>
                    <li>● 企业VIP版：价格面议。功能基本同个人VIP版，但同时提供更多企业级配置，插件等，可用于个人及企业发布软件。</li>
                    <li>● 特殊定制版：价格面议。提供以上所有功能的定制开发、优化性编译、特殊功能需求等，不设限制，可用于个人及企业发布软件。</li>
                    <li>● 企业及特殊定制版定价原则：按最终客户端使用数一次性付费或按年订阅式付费。</li>
                    <li>● 关于定价：除个人版VIP版外均可开具正规发票。</li>
                    <li>● 关于广告：广告形式非常轻量，至多每周在用户电脑桌面上释放一个网页快捷方式，通常是淘宝客或导航页的链接，无任何其他形式广告，不会干扰用户正常使用电脑。</li>
                    <li>● 购买vip后会获得一个lisence.key文件，放在dll目录下即可。此文件开发调试时才需要，发布后不需要。</li>
                    <li>● 如果您是企业发布软件产品并且需要使用VIP版本的功能，请务必购买企业版并取得版权授权，请尊重我们的劳动成果，如发现未经授权使用，我们将按照每个最终用户客户端至少1元钱的标准进行起诉索赔。</li>
                    <li>● 版本定制及购买联系weolar@miniblink.net或者QQ：93527630、17136608，付款后不支持退款，感谢支持。</li>
                </ul>
            </blockquote>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>珠海独角兽科技有限公司<a href="http://beian.miit.gov.cn">粤ICP备18103739号</a></p>
    </div>
</div>
</body>
</html>