<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="miniblink,浏览器开发,Web开发,界面开发,控件开发,Qt控件,工业控件,金融控件,ERP,BS,CS,图表开发,嵌入式开发,界面设计,控件设计,图标设计,Delphi界面开发,WinForm界面开发">
    <meta name="description" content="miniblink是一款极致小巧的开源浏览器控件，可嵌入各种软件中，提供浏览服务">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Miniblink - 免费小巧开源的浏览器控件</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="header-logo">
            <h1>Miniblink</h1>
        </div>
        <div class="header-nav">
            <div class="header-nav-item">
                <a href="../index.html">首页</a>
            </div>
            <div class="header-nav-item">
                <a href="./doc/index.html">文档</a>
            </div>
            <div class="header-nav-item header-nav-active">
                <a href="./features.html">功能定制</a>
            </div>
            <div class="header-nav-item">
                <a href="https://github.com/weolar/miniblink49/releases" target="_bank">下载</a>
            </div>
            <div class="header-nav-item">
                <a href="./doc/company.html" target="_bank">公司简介</a>
            </div>
        </div>
        <div class="header-right">
            <div class="header-right-item">
                <a href="https://github.com/weolar/miniblink49/releases" target="_bank">
                    <img src="../images/icon/github.png">
                    <span>Github</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- banner -->
<div class="header-banner">
    <div class="header-banner-title">Miniblink</div>
    <div class="header-banner-info">免费小巧开源的浏览器控件，全球最小的基于chromium的浏览器控件，没有之一</div>
    <div class="header-banner-btns">
        <a href="https://github.com/weolar/miniblink49/releases">下载SDK</a>
        <a href="./doc/index.html">入门文档</a>
    </div>
    <div class="header-banner-infoList">
        <div class="header-banner-infoList-item">极致小巧的体积</div>
        <div class="header-banner-infoList-item">内嵌Nodejs，支持electron</div>
        <div class="header-banner-infoList-item">支持Windows XP、npapi</div>
        <div class="header-banner-infoList-item">C++、C#、Delphi等语言调用</div>
        <div class="header-banner-infoList-item">随心所欲的定制功能、模拟环境</div>
        <div class="header-banner-infoList-item">完美支持各种H5效果</div>
    </div>
</div>


<div class="main">
    <div class="container">
        <div class="container-title">
            <h1>如果免费开源版满足不了您的需求，可以考虑购买定制版</h1>
            <p>Choice</p>
            <!-- <p>如果免费开源版满足不了您的需求，可以考虑购买定制版。定制版是一个独立于原dll的新dll</p> -->
        </div>
        <div class="feature-list">
            <div class="feature-list-item">
                <div class="feature-list-wrap">
                    <div class="feature-list-item-header">
                        <div class="feature-list-item-header-title">个人版<small>Personal</small></div>
                        <div class="feature-list-item-header-price">￥899</div>
                    </div>
                    <div class="feature-list-item-body">
                        <ul>
                            <li style="font-weight:bold">不支持定制编译</li>
                            <li style="font-weight:bold">bug优先修复</li>
                            <li>永久授权</li>
                            <li>购买后可在软件中自由分发</li>
                            <li>一年内免费更新</li>
                            <li>高性能多线程渲染</li>
                            <li>不同页面独立cookie支持</li>
                            <li>MP3/MP4支持</li>
                            <li>网页内开启Nodejs能力</li>
                            <li>打印及打印预览</li>
                            <li>下载管理</li>
                            <li>硬盘本地缓存</li>
                            <li>资源打包（正在实现中，未来将提供）</li>
                            <li>硬件加速（正在实现中，未来将提供）</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="feature-list-item">
                <div class="feature-list-wrap">
                    <div class="feature-list-item-header">
                        <div class="feature-list-item-header-title">企业版<small>Enterprise</small></div>
                        <div class="feature-list-item-header-price">￥6,999</div>
                    </div>
                    <div class="feature-list-item-body">
                        <ul>
                            <li style="font-weight:bold">提供功能定制</li>
                            <li style="font-weight:bold">完善的技术支持，功能定制</li>
                            <li>永久授权</li>
                            <li>购买后可在软件中自由分发</li>
                            <li>一年内技术支持及更新</li>
                            <li>高性能多线程渲染</li>
                            <li>不同页面独立cookie支持</li>
                            <li>MP3/MP4支持</li>
                            <li>加载ActiveX控件</li>
                            <li>网页内开启Nodejs能力</li>
                            <li>打印及打印预览</li>
                            <li>下载管理</li>
                            <li>硬盘本地缓存</li>
                            <li>资源打包（正在实现中，未来将提供）</li>
                            <li>硬件加速（正在实现中，未来将提供）</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="feature-list-item">
                <div class="feature-list-wrap">
                    <div class="feature-list-item-header">
                        <div class="feature-list-item-header-title">源码<small>Source code</small></div>
                        <div class="feature-list-item-header-price">￥11,999</div>
                    </div>
                    <div class="feature-list-item-body">
                        <ul>
                            <li>源码版包含企业版所有功能和权力</li>
                            <li>源码仅供购买者使用，禁止二次分发、传播</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-title">
            <h1>注意事项</h1>
            <p>Matters needing attention</p>
        </div>
        <div class="feature-tips">
            <blockquote>
                <ul>
                    <li>个人版仅供个人使用，企业使用请购买企业版</li>
                    <li>付费版是个独立的dll，需要依赖开源版的dll实现部分功能</li>
                    <li>开源版由于渲染线程和UI线程是同一个，所以一旦网页js逻辑复杂，会引起UI卡慢。付费版的多线程渲染解决了这一问题</li>
                    <li>尊享版提供定制编译服务。可自由选择是否开启某些功能，以达到最精简的体积</li>
                    <li>定制功能包括：openssl、devtools、nodejs、v8版本选择等</li>
                    <li>以上价格，除个人版外均含发票</li>
                    <li>以上价格，包含一年有效期。第二年起均半价续订</li>
                    <li>若需购买，请下载最新SDK包，打开vip-miniblink.exe，点击“更多”按钮，填入您的邮箱，并将请求码通过邮件发送给 weolar@miniblink.net</li>
                    <li>购买后，会获得一个lisence.key文件，放在dll目录下即可。此文件开发时才需要，发布后不需要</li>
                    <li>付款后将不支持退款,谢谢支持</li>
                </ul>
            </blockquote>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>珠海独角兽科技有限公司 版权所有，邮箱：weolar@miniblink.com , <a href="http://beian.miit.gov.cn">粤ICP备18103739号</a></p>
    </div>
</div>
</body>
</html>