html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei", "微软雅黑";
	vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}
/** {
	transition: all 0.4s linear;
	-webkit-transition: all 0.4s linear;
}*/

body {
	cursor: default;
	/*padding-top: 56px;*/
}

section {
	text-align: center;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}
.clearfix::before, .clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.clearfix {
 *zoom:1;
}


.why-uesr-mb-title {
	text-align: center;
	color: #606c6e;
	padding-top: 60px;
	font-size: 50px;
    line-height: 60px;
}

.why-uesr-mb-title2 {

}

.why-uesr-mb-container {
	background-color: #f5f6f6;
}
.why-mb-row {
	color: #606c6e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.why-mb-col {
    background-color: #f5f6f6;
    max-width: 350px;
    min-width: 350px;
    height: 120px;
    margin: 40px;
}

.howto-mb-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.howto-mb-col {
    background-color: #f5f6f6;
    width: 175px;
    margin: 40px;
}

.why-mb-row-icon {
    padding: 15px;
    left: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background: url(../images/benefits-icon.png) 0 0 no-repeat;
}
.why-mb-col-title {
	display: inline-block;
	font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0px;
}
.why-mb-col-des {
	font-size: 13px;
	margin-top: 14px;
	line-height: 1.1;
}

.howto-mb-strong {
	color: #3498db;
}
/**/

/* 水平分隔线 begin */
fieldset {
	border: 0;
	border-top: 1px solid #424751;
}
legend {
	color: #999;
	/* for IE */
	background-color: #fff;
}
.navbar-inverse .navbar-nav>.active>a{
    background-color: none;
}
/* end 水平分隔线 */
@-ms-viewport {
 width: auto;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.translate-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.t {
	display: table;
	width: 100%;
	height: 100%;
}
.t>.cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*隐藏滚动条*/
.hide-scroll {
	overflow: hidden;
}
.hide-scroll .header {
	right: 17px;
}
.hide-scroll .modal-open {
	padding-right: 17px;
}
html {
	overflow-y: scroll;
}
.to-animate {
	opacity: 0;
}
.ie8xs {
	display: none;
}
.ie8yc {
	display: block;
}
/*头部*/
/*
.header {
	height: 58px;
	line-height: 58px;
	background-color: #16171e;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.header .navbar {
	min-height: 58px;
	border: none;
	background-color: rgb(0, 0, 0);
	margin-bottom: 0;
	border-radius: 0;
}


.header .nav {
	float: none;
	display: block;
	font-size: 0px;
	text-align: center;
	width: 1200px;
	margin: 0 auto;
	padding-left: 12%;
	z-index: 99
}

.header .nav > li {
	width: 14.28%;
	text-align: center;
}
*/
.header .logo {
	display: block;
	position: absolute;
	top: 0;
	left: 21%;/*	z-index: 99;*/
}
.navbar-inverse .navbar-toggle {
	margin-right: 22px;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	display: none;
}
.header .nav>li.product>a {
	display: inline-block;
}
.header .nav>li>a.nav-link {
	display: block;
	padding: 0;
	line-height: 56px;
	font-size: 15px;
	white-space: nowrap;
	color: #bababc;
}
.header .nav>li>a.nav-link:hover {
	color: #3969e5;
}
.header .nav>li>a:focus {
	color: #bababc;
}
.header .navbar-nav>.open>.nav-link, .header .navbar-nav>.open>.nav-link:focus, .header .navbar-nav>.open>.nav-link:hover {
	color: #3969e5;
	background-color: transparent;
}
.header .logo > img {
	display: block;
}
.header .product>.product-wrapper {
	position: absolute;
	top: auto;
	left: 50%;
	/*width: 738px;*/
	padding: 0;
	border: none;
	border-top: 2px solid #3969e5;
	margin-top: 56px;
	background-color: #0e0e13;
	overflow: hidden;
	display: none;
	z-index: 2;
	margin-left: -1em;
}
.header .product:hover>.product-wrapper {
	display: block;
}
.nav .product-list {
	display: block;
	margin-bottom: -2px;
}
.product-list > li {
	height: 64px;
	padding: 0;
	overflow: hidden;
}
.product-link {
	display: block;
	height: 100%;
	padding-left: 16px;
	border: 1px solid #1c1c21;
	margin-left: -1px;
	margin-top: -1px;
	box-sizing: border-box;
	overflow: hidden;
}
.product-link:hover {
	color: #fff;
	background: #01111a;
}
.product-link:hover .product-text > span {
	color: #fff;
}
.product-link > .product-logo {
	float: left;
	width: 35px;
	height: 35px;
	margin-top: 15px;
	margin-right: 12px;
}
.product-link > .product-text {
	display: table;
	height: 100%;
	text-align: left;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
}
.product-link > .product-text > span {
	display: table-cell;
	vertical-align: middle;
	color: #959595;
}
.header .nav-link.product {
	display: inline-block;
}
.header .list > .product:hover > .nav-link {
	color: #3969e5;
}
.header_height {
	height: 56px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.banner-wrap h2{
	width: 78%;
	margin: 0 auto;
}
.bannerUl{
	width: 74%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px 0 0 9%;
	margin-top: 0%;
	margin-bottom: 6%;
}
.bannerUl li{
	
	color: rgba(255, 255, 255, 0.78);

	line-height: 50px;
	font-size: 15px;
}
.bannerUl li p{
	background: url(../images/point.png) left center no-repeat;
	padding-left: 25px;
		text-align: left;
}
.bannerUl li:nth-child(1){
	width:35%;
}
.bannerUl li:nth-child(2){
	width:33%;
}
.bannerUl li:nth-child(3){
	width:30%;
}
.navbar-nav>li.active>a.nav-link{    color: #3969e5;}
/*头部结束*/
/*banner begin*/

.web_width {
	max-width: 1500px;
	margin: 0 auto;
}
.banner-wrap img {
	width: 100%;
}
.banner-wrap .pc {
	width: 44%;
	position: relative;
	height: 550px;
	left: 5%;
	top: 15%;
}
.banner-wrap .pc .pc_pc {
	width: 100%;
	position: absolute;
	top: 1%;
	left: 0;
	z-index: 2;
}
.banner-wrap .pc .pc_plat {
	width: 80%;
	z-index: 1;
	position: absolute;
	top: 47%;
	left: 11%;
}
.banner-wrap .pc .pc_book {
	width: 17%;
	position: absolute;
	top: 28%;
	left: 60%;
	z-index: 3;
}
.banner-wrap .line1 {
	width: 5.5%;
	position: absolute;
	left: 2%;
	top: 30%;
}
.banner-wrap .line2 {
	width: 5.5%;
	position: absolute;
	left: 24%;
	top: 0;
}
.banner-wrap .line3 {
	width: 5.5%;
	position: absolute;
	right: 1%;
	top: 26%;

}
.banner-wrap .ball1 {
	width: 6%;
	position: absolute;
	left: 6%;
	top: 13%;
}
.banner-wrap .ball2 {
	width: 4.5%;
	position: absolute;
	left: 2%;
	top: 55%;
}
.banner-wrap .ball3 {
	width: 2.5%;
	position: absolute;
	left: 59%;
	top: 19%;
}
.banner-wrap .ball4 {
	width: 6%;
	position: absolute;
	right: 13%;
	top: -8%;
}
.banner-wrap .banner_bolan {
	position: absolute;
	top: 54%;
	width: 45%;
	left: 45%;
}
.banner-wrap .banner_bolan img {
	width: 100%;
}
.banner-wrap .ball5 {
	width: 4.5%;
	position: absolute;
	right: 10%;
	bottom: 5%;
}
.banner-wrap {
	height: 693px;
	position: relative;
	background-size: cover;
	width: 1300px;
	margin: 0 auto;
	padding-top: 3.5%;
}
.banner-wrap .text_box {
	margin: 0 auto;
	color: #fff;
}
.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 52px;
	line-height: 94px;
	color: #fff;
}
.banner-wrap .text_box .hh span {
	font-size: 80px;
	margin-right: 2.5%;
	color: #04aaf6;
	display: block;
	text-shadow: 0 0px 15px rgba(4, 170, 246, 0.88);
	float: left;
	line-height: 1;
}
.banner-wrap .text_box .hh i {
}
.banner-wrap .text_box p {
	text-align: right;
	margin: 3.5% 0 5%;
	margin-right: 10%;
	font-size: 22px;
}
.banner-wrap .text_box h3 {
	font-size: 20px;
	text-align: left;
	margin-bottom: 4%;
	color: #808893;
}


.banner-wrap .text_box div a {
	display: block;
	float: left;
	width: 240px;
	height: 50px;
	line-height: 47px;
	font-size: 20px;
	border-radius: 60px;
	margin: 0 65px;
}
.banner-wrap .text_box div a.down_eva {
	border: 1px solid #fff;
    color: #fff;
}
.banner-wrap .text_box div a.down_eva:hover {
	background: #fff;
	color: #333;
}
.banner-wrap .text_box div a.down_eva:active {
	background: #fff;
	color: #333;
}

.banner-wrap .text_box div a.vieo_tech {
	border: 1px solid #fff;
	color: #fff;
}
.banner-wrap .text_box div a.vieo_tech:hover{
	background: #fff;
	color: #333;
}
.banner-wrap .text_box div a.vieo_tech:active{
	background: #fff;
	color: #333;
}
.banner_box {
	background: url(../images/header-bg.jpg ) no-repeat;
	background-size:100% 100%;
	position: relative;
}
/*banner over*/
/*内容 begin*/
.fadeInDownline {
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
}
h2.title {
	font-size: 36px;
	position: relative;
	line-height: 1;
	color: #1b2b3b;
}
h3.title_en {
	font-size: 24px;
	position: relative;
	line-height: 1;
	margin-bottom: 7.5%;
	color: #1b2b3b;
}
.i_line {
	width: 160px;
	height: 4px;
	padding-top: 1.5%;
	padding-bottom: 2%;
	margin: 0 auto;
	background: url(../images/title_line.png) no-repeat center center;
	position: relative;
}
/*功能特性 begin*/
.feature_box {
	padding: 4% 0 6.5%;
	background: url(../images/bg_fea.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.feature_box h2.title {
	color: #fff;
}
.feature_box h3.title_en {
	color: #fff;
	margin-bottom: 7%;
}
.feature-wrap h2.title {
	color: #fff;
}
.feature-wrap h3.title_en {
	color: #fff;
}
.feature {
	color: #fff;
	text-align: left;
	position: relative;
	margin: 0 auto;
}
.feature_easy {
	width: 91%;
	padding-top: 2%;
}
.feature_easy_box_left {
	width: 50%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_easy_box_right {
	width: 50%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.face_text_left_box {
	width: 41.66666667%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_face_box_left {
	width: 41.66666667%;
	float: right;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_face_box_right {
	width: 58%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_img_box_left {
	width: 50%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_img_box_right {
	width: 50%;
	float: left;
	padding-right: 15px;
	padding-left: 5px;
	position: relative;
}
.feature_wrap .theme {
	padding-left: 100px;
}
.feature_wrap .theme h4 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 17px;
}
.feature_wrap .theme p {
	font-size: 18px;
}
.feature_ul {
	margin-top: 6%;
}
.feature_ul li {
	font-size: 16px;
	line-height: 2;
	margin: 15px 0;
	list-style-image: url(../images/li_image.png);
	list-style-position: outside;
	margin-left: 26px;
	padding-left: 15px;
}
.feature_easy .theme {
	background: url(../images/icon_xiaoqiao.png) left no-repeat;
	margin-top: 15%;
}
.feature_face .theme {
	background: url(../images/icon_qiangda.png) left no-repeat;
	margin-top: 7%;
}
.feature_img .theme {
	background: url(../images/icon_electron.png) left no-repeat;
}
.i_video_bg {
	position: relative;
	left: -153px;
}
.i_video_box {
	position: absolute;
	box-sizing: content-box;
	background-size: 100% 100%;
	width: 85%;
	left: -14%;
}
.i_video_box img {
	width: 100%;
}
.i_video_leg {
	width: 100%;
}
.feature_face {
	padding-top: 25%;
	width: 98%;
}
.face_box {
	width: 100%;
	position: relative;
}
.face_box img {
	position: relative;
	left: -2%;
	width: 100%;
}
.face_text_box {
	padding-left: 5%;
	width: 100%;
}
.feature_img {
	padding-top: 19%;
	width: 91%;
	padding-bottom: 10%;
}
.feature_box .more {
	padding: 11px 25px;
	background: #009ef1;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
	width: 240px;
	display: block;
	margin: 0 auto;
	min-width: 200px;
}
.feature_box .more:hover {
	background: #038dd5;
	color: #fff;
}
.feature_box .morea:active {
	background: #0179b7;
}
.modal-dialog {
	width: 72%;
	margin: 5% auto;
}
/*功能特性 over*/
/* 底部 begin */
.footer {
	min-width: 320px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #71757c;
	background-color: #000000;
	width: 100%;
}
.footer .information {
	margin-bottom: 32px;
}
/* 地址 */
.footer .footer-logo > img {
	margin-top: 12px;
	float: right;
}
.footer .line {
	height: 150px;
	position: relative;
	width: 8.33333333%;
	float: left;
}
.footer .vertical-line {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background-color: #424751;
}
.footer .address {
	right: 16.66666667%;
	width: 41.66666667%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}
.footer .address .nav-tabs {
	border-color: transparent;
}
.footer .address .nav-tabs li > a {
	padding: 8px;
	border: none;
	border-bottom: 2px solid transparent;
	margin-right: 30px;
	font-size: 15px;
	background-color: transparent;
	color: #fffefe;
}
.footer .address .nav-tabs li > a {
	background-color: transparent;
}
.footer .address .nav-tabs li.active > a {
	border-bottom-color: #3969e5;
}
.footer .address-detail {
	padding-top: 8px;
}
.footer .address-detail li {
	line-height: 30px;
	padding-left: 36px;
	margin-bottom: 4px;
	color: #e0dfe1;
}.footer .address-detail li a,.footer .address-detail li a:hover,.footer .address-detail li a:link{
   color:#e0dfe1;
}

.footer .addr, .footer .email, .footer .tele,.footer .QQ {
	width: 36px;
	height: 30px;
}
/* end 底部 */
/* 弹窗 begin*/

#pic_more .modal-dialog {
	width: 72%;
	box-sizing: content-box;
}
.scorll_img {
	opacity: 0;
}
.footer-logo {
	width: 25%;
	float: left;
}
.feature_img_box {
	display: block;
	width: 100%;
	position: relative;
	height: 350px;
}
.feature_img_box .plane_1 {
	position: absolute;
	width: 71%;
	top: 17%;
	left: 0;
}
.feature_img_box .plane_2 {
	position: absolute;
	width: 35%;
	top: 3%;
	left: 24%;
}
.feature_img_box .plane_3 {
	position: absolute;
	width: 30%;
	top: -1%;
	right: 0%;
}

.banner-wrap .text_box div.banner_link {
    display: flex;
    justify-content: center;
}

.related-links, .rights {
    width: 95%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.rights {
    font-size: 0;
}

.rights > span {
    display: inline-block;
    padding: 0 3px;
    font-size: 14px;
    cursor: default;
    color: #71757c;
}

@charset "utf-8";

/* CSS Document */


/*响应式*/



@media (max-width: 1750px) {
.header .nav {
	padding-left: 13%;
}
.header .logo {
	left: 20%;
}
.banner-wrap .text_box h4 {
	width: 78%;
	font-size: 16px;
	line-height: 2;
	padding-left: 3%;
}
.banner-wrap .pc .pc_pc {
	width: 100%;
	position: absolute;
	top: 5%;
	left: 0;
	z-index: 2;
}
}

@media (max-width: 1700px) {
.header .nav {
	padding-left: 14%;
}
.header .logo {
	left: 19%;
}
}

@media (max-width: 1680px) {
.header .logo {
	left: 18%;
}
.feature_face {
	padding-top: 21%;
}
.feature_img {
	padding-top: 15%;
}

.banner-wrap .text_box .hh span {
	font-size: 72px;
}
.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 46px;
	line-height: 85px;
	color: #fff;
}
.banner-wrap .text_box p {
	text-align: right;
	margin: 3.5% 0 3.5%;
	margin-right: 2%;
	font-size: 20px;
}
.banner-wrap .text_box h3 {
	font-size: 18px;
	text-align: left;
	margin-bottom: 4%;
	color: #808893;
}


}

@media (max-width: 1600px) {
.header .logo {
	left: 17%;
}
}

@media (max-width: 1550px) {
.product_list_box .platform_box {
	width: 86%;
	color: #fff;
	margin: 0 auto;
}
.banner-wrap .text_box h4 {
	width: 88%;
	font-size: 16px;
	line-height: 2;
	padding-left: 3%;
}
.banner-wrap .text_box h3 {
	font-size: 18px;
	text-align: left;
	margin-bottom: 4%;
	color: #808893;
}

.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 38px;
	line-height: 2;
	color: #fff;
}
.banner-wrap .text_box p {
	text-align: right;
	margin: 3.5% 0 4%;
	margin-right: 0%;
	font-size: 18px;
}
.banner-wrap .text_box {
}
.banner-wrap .pc {
	width: 44%;
	position: relative;
	height: 550px;
	left: 2%;
	top: 15%;
}
.banner-wrap {
	height: 670px;
}
.banner-wrap .text_box .hh span {
	font-size: 64px;
}
.header .logo {
	left: 13%;
}
.header .nav {
	padding-left: 13%;
}
.swiper-slide1 {
}
.swiper-container1 {
	width: 1170px;
}
.swiper-button-next1 {
	right: 30px;
}
.swiper-button-prev1 {
	left: 30px;
}
.product_list_box .tab-content {
	width: 90%;
}
.product_list_box #tabs-pro .nav-tabs {
	padding: 0px 5%;
	width: 100%;
}
.customers_list {
	height: 390px;
}
.costomers_bluebg {
	padding-top: 32%;
}
.banner-wrap .pc .pc_pc {
	width: 100%;
	position: absolute;
	top: 11%;
	left: 0;
	z-index: 2;
}
.banner-wrap .pc .pc_book {
	width: 17%;
	position: absolute;
	top: 30%;
	left: 60%;
	z-index: 3;
}
}

@media (max-width: 380px) {
.banner-wrap .pc {
	width: 44%;
	position: relative;
	height: 550px;
	left: 0%;
	top: 15%;
}
.header .nav {
	padding-left: 14%;
}
.header .logo {
	left: 12%;
}
.product_list_box .tab-content {
	width: 94%;
}
.swiper-slide1 {
}
.product_list_box .tab-content {
	width: 90%;
}
.swiper-container1 {
	width: 1120px;
}
.swiper-button-next1 {
	right: 45px;
}
.swiper-button-prev1 {
	left: 45px;
}
.feature_face {
	padding-top: 14%;
}
.feature_img {
	padding-top: 14%;
}
.advantages_li p {
	font-size: 24px;
}
.face_text_box {
}
.feature_box {
	padding: 4% 0 3%;
}
.price_box {
	padding: 4% 0 3%;
}
.customers_box {
	padding: 4% 0 3%;
}
.download_box {
	padding: 4% 0 3%;
	background: #fff;
	background-size: cover;
	position: relative;
}
.product_box {
	padding: 4% 0 3%;
	background-size: cover;
	position: relative;
}
.banner-wrap .text_box .hh span {
	font-size: 64px;
}
.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 42px;
	line-height: 68px;
	color: #fff;
}
.banner-wrap .text_box p {
	text-align: right;
	margin: 3.5% 0 5%;
	margin-right: 5%;
	font-size: 18px;
}
.banner-wrap .text_box h3 {
	font-size: 16px;
}
.banner-wrap .text_box h3 span {
	padding: 0 18px 0 0;
	color: #fff;
	background-position: right 10px;
	font-size: 36px;
}
.banner-wrap .text_box {
}
.banner-wrap .text_box h4 {
	width: 87%;
	font-size: 16px;
	line-height: 2;
	padding-left: 0%;
}
.banner-wrap {
	height: 650px;
}
.face_box img {
	left: 0%;
	top: 28px;
}

.feature_face_box_left {
	width: 47%;
}
#pic_more .modal-dialog {
	width: 75%;
	box-sizing: content-box;
}
.costomers_bluebg {
	padding-top: 33%;
}
.download_list_box {
	width: 90%;
}
}

@media (max-width: 1400px) {
.header .nav {
	padding-left: 11%;
}
.header .logo {
	left: 9%;
}

.face_text_box {
	padding-left: 0%;
	width: 100%;
}
.face_box img {
	width: 95%;
	top: 25px;
	left: 0px;
}
.customers_list_box {
	width: 85%;
}
}

@media (max-width: 380px) {
.video_td {
	width: 850px;
	height: 532px;
}

.feature_face {
	padding-top: 13%;
}
.feature_img {
	padding-top: 13%;
}

.advantages_li p {
	font-size: 24px;
}
h2.title {
	font-size: 34px;
}
.banner-wrap .text_box h4 {
	width: 91%;
}
.feature_ul li {
	font-size: 14px;
}
.feature_wrap .theme h4 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 17px;
}

.feature_face_box_left {
	width: 44%;
}
}

@media (max-width: 1280px) {
.product_list_box .platform_box {
	width: 100%;
	color: #fff;
	margin: 0 auto;
}
.bannerUl {
	width: 88%;
}
.banner-wrap h2 {
	width: 95%;
}
.banner-wrap .text_box h4 {
	width: 95%;
}
.banner-wrap .text_box div.banner_link {
}
.banner-wrap .text_box {
}
.banner-wrap .pc {
	width: 44%;
	position: relative;
	height: 550px;
	left: 0%;
	top: 10%;
}
.swiper-container1 {
	width: 82%;
}
.product_list_box .tab-content {
	width: 100%;
}
#panel-system .caozuo_left {
	padding: 17.5% 0 0% 28%;
	height: 100%;
	width: 100%;
}
#panel-system .caozuo_right {
	padding: 8.5% 0 0% 9%;
	height: 100%;
	width: 100%;
}
.nav>li>a {
	padding: 10px 0;
}
.product_list_box #tabs-pro .nav-tabs {
	padding: 0 5%;
}
.header .nav {
	padding-left: 12%;
}
.header .logo {
	left: 6%;
}
h2.title {
	font-size: 32px;
}
.feature_img {
	padding-top: 20%;
}
.feature_face {
	padding-top: 10%;
}
.feature_box h3.title_en {
	color: #fff;
	margin-bottom: 5%;
}
.advantages_li p {
	font-size: 22px;
}
.advantages_box h2.title span {
	padding-top: 15px;
}
.banner-wrap .pc .pc_pc {
	width: 100%;
	position: absolute;
	top: 15%;
	left: 0;
	z-index: 2;
}
.banner-wrap {
	height: 590px;
	width: 90%;
}
}

@media (max-width: 1250px) {
.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 36px;
	line-height: 68px;
	color: #fff;
}
.banner-wrap .text_box .hh span {
	font-size: 57px;
}
.banner-wrap .text_box h3 span {
	padding: 0 18px 0 0;
	color: #fff;
	background-position: right 2px;
	font-size: 32px;
}
.header .logo {
	left: 10%;
}
.header .nav {
	width: 92%;
	padding-left: 13%;
}
}

@media (max-width: 1200px) {
.video_td {
	width: 655px;
	height: 420px;
}
#i_video_a_more .modal-dialog {
	width: 62%;
	margin: 9% auto;
}
.header .nav {
	padding-left: 13%;
}
.header .logo {
	left: 10%;
}
.advantages_li p {
	font-size: 22px;
	color: #666;
	margin-bottom: 23.5%;
}
.banner-wrap .text_box h3 span {
	padding: 0 18px 0 0;
	color: #fff;
	background-position: right 0px;
	font-size: 26px;
}
.feature_face {
	padding-top: 12%;
}
.download_list_box {
	width: 100%;
	margin: 0 auto;
}
.customers_list {
	height: 316px;
}
.costomers_bluebg {
	padding-top: 20%;
}
}

@media (max-width: 1150px) {
.feature_box {
	padding: 6% 0 6.5%;
}
.price_box {
	padding: 6% 0 6.5%;
}
.customers_box {
	padding: 6% 0 6.5%;
}
.download_box {
	padding: 6% 0 6.5%;
	background: #fff;
	background-size: cover;
	position: relative;
}
.product_box {
	padding: 6% 0 4.5%;

	background-size: cover;
	position: relative;
}
.header .nav {
	padding-left: 13%;
}
.header .logo {
	left: 10%;
}
.face_box img {
	width: 95%;
	top: 95px;
	left: 0px;
}
.feature_wrap .theme p {
	font-size: 16px;
}
.feature_wrap .theme h4 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 17px;
}
.feature_wrap .theme {
	padding: 5px 0;
	padding-left: 100px;
}
.feature_ul li {
	font-size: 14px;
}
.feature_easy, .feature_face, .feature_img {
	width: 100%;
}
.feature_img_box {
	display: block;
	width: 95%;
	position: relative;
	height: 350px;
}
.i_video_box {
	position: absolute;
	box-sizing: content-box;
	background-size: 100% 100%;
	width: 78%;
	left: 14%;
	top: 35px;
}
.banner-wrap {
	height: 600px;
}
#course_more .modal-dialog {
	width: 90%;
	margin: 9% auto;
}
}

@media (max-width: 992px) {
.banner-wrap {
    width: 100%;
    height: 800px;
}
.bannerUl {
	margin-top: -10%;
}
.bannerUl li:nth-child(1) {
	width: 35%;
}
.bannerUl li:nth-child(2) {
	width: 33%;
}
.bannerUl li:nth-child(3) {
	width: 30%;
}
.banner-wrap h2 {
	margin-top: -2%;
}

.video_td {
	width: 550px;
	height: 360px;
}
.advantages_wrap .advantages_ul {
	margin: 0 auto;
	width: 92%;
}
.advantages_li p {
	font-size: 18px;
}
.banner-wrap .text_box {
}
.banner-wrap .pc {
	display: none;
}
.banner-wrap .text_box h4 {
	width: 88%;
}
h3.title_en {
	font-size: 24px;
	position: relative;
	line-height: 1;
	margin-bottom: 5.5%;
	color: #1b2b3b;
}
.product_list_box .pro_system_content {
	padding: 40px 2%;
}
.product_list_box .direct_plat {
	width: 40%;
	float: left;
	padding-left: 0%;
	line-height: 2.2;
}
#panel-system .caozuo_right {
	padding: 10.5% 0 0% 8%;
	height: 100%;
	width: 100%;
}
.product_list_box .platform_box {
	width: 82%;
	color: #fff;
	margin: 0 auto;
}
.swiper-button-prev2 {
	left: -48px;
}
.swiper-button-next2 {
	right: -48px;
}
.product_list_box .pro_center {
	width: 16%;
	float: left;
	text-align: center;
}
.product_list_box .pro_center img {
	width: 84%;
	margin-top: 35%;
}
.product_list_box .pro_left, .product_list_box .pro_right {
	width: 42%;
}
/*.banner-wrap .text_box h4 {
	display: none;
}*/
.banner-wrap .text_box h3 {
	font-size: 14px;
	margin-bottom: 3%;
}
.banner-wrap .text_box h3 i {
	padding: 0 17px 0 13px;
	font-size: 35px;
	color: #808893;
}
.banner-wrap .text_box h3 span {
	padding: 0 15px 0 0;
	color: #fff;
	background-position: right 0px;
	font-size: 24px;
}
.banner-wrap .text_box .hh span {
	font-size: 50px;
}
.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 34px;
	line-height: 54px;
	color: #fff;
}
.banner-wrap .text_box div.banner_link {
}
.banner-wrap .text_box p {
	text-align: right;
	margin: 2% 0 2%;
	margin-right: 0%;
	font-size: 18px;
}
.i_video_box {
	position: absolute;
	box-sizing: content-box;
	background-size: 100% 100%;
	width: 75%;
	left: -9%;
	top: 68px;
}
.feature_img_box {
	display: block;
	width: 92%;
	position: relative;
	height: 350px;
}
.swiper-button-prev1 {
	left: 15px;
}
.swiper-button-next1 {
	right: 15px;
}
.swiper-container1 {
	width: 80%;
}
}

@media (max-width: 900px) {
	.bannerUl {
	margin-top: -5%;
}
.bannerUl li:nth-child(1) {
	width: 48%;
}
.bannerUl li:nth-child(2) {
	width: 52%;
}
.bannerUl li:nth-child(3) {
	width: 100%;
}
	
.banner-wrap .text_box h4 {
	width: 100%;
}
.i_video_box {
	position: absolute;
	box-sizing: content-box;
	background-size: 100% 100%;
	width: 75%;
	left: -9%;
	top: 96px;
}
}

@media (max-width: 850px) {
.video_td {
	width: 442px;
	height: 300px;
}
.back_top {
	display: none;
}
.banner-wrap .text_box {
}
#panel-system .caozuo_right {
	padding: 10.5% 0 0% 3%;
	height: 100%;
	width: 100%;
}
.feature_box {
	padding: 7% 0 6%;
}
.price_box {
	padding: 7% 0 7%;
}
.customers_list_box {
	width: 85%;
	padding: 2% 0 5%;
}
.download_box {
	padding: 7% 0 6%;
}
.download_list_box {
	width: 100%;
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 2%;
}
.swiper-container1 {
	width: 80%;
	padding-top: 2%;
}
.customers_box {
	padding: 7% 0 7%;
}
.price_list_box {
	padding-bottom: 6%;
	position: relative;
}
.feature_easy, .feature_face, .feature_img {
	width: 80%;
	padding-top: 0%;
}
.feature_easy_box_left {
	width: 90%;
	float: none;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	margin: 0 auto;
}
.feature_easy_box_right {
	width: 100%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_face_box_left {
	width: 90%;
	float: none;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	margin: 0 auto;
}

.feature_img_box_left {
	width: 90%;
	float: none;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	margin: 0 auto;
}
.feature_img_box_right {
	width: 100%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	margin-top: 8%;
}
.feature_img {
	padding-top: 22%;
	padding-bottom: 12%;
}
.feature_easy .theme {
	/*background: url(../images/features/icon_3d.png) left no-repeat;*/
	margin-top: 6%;
}
.i_video_box {
	position: relative;
	box-sizing: content-box;
	left: 0;
	top: 0;
	background-size: 100% 100%;
	width: 100%;
	margin-left: 0%;
	margin-top: 9%;
}
.i_video_box img {
	width: 100%;
}
.i_video_a {
	display: block;
	width: 58px;
	height: 55px;
	position: absolute;
	top: 42%;
	left: 47%;
}
.feature_face {
	padding-top: 4%;
}
}



@media (max-width: 767px) {
.header .nav > li {
	width: 100%;
	text-align: center;
}
.header .nav {
	padding-left: 0%;
}
}

@media (max-width: 768px) {
.video_td {
	width: 348px;
	height: 245px;
}
.banner-wrap .pc {
	display: none;
}
.footer-logo {
	width: 33.33%;
}
.header .nav {
	padding-left: 14%;
}
.header .logo {
	left: 7%;
}
.modal-dialog {
	width: 70%;
	margin: 30px auto;
}
.advantages_li {
	width: 50%;
}
.feature_easy_text_box {
	width: 100%;
}
.i_video_box_width {
	width: 100%;
}
.footer .thumbnail {
	width: 33.333%;
}
.footer .address {
	width: 100%;
}
.header .navbar {
	background-color: inherit;
}
.feature_img_box .plane_1 {
	position: absolute;
	width: 71%;
	top: 18%;
	left: -3%;
}
.feature_img_box .plane_2 {
	position: absolute;
	width: 35%;
	top: 4%;
	left: 21%;
}
.feature_img_box .plane_3 {
	position: absolute;
	width: 30%;
	top: 0;
	right: 3%;
}
.feature_img_box .plane_4 {
	position: absolute;
	width: 39%;
	top: 55%;
	right: 3%;
}
.navbar-collapse {
	width: auto;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.swiper-container1 {
	width: 380px;
}
.advantages_li p {
	font-size: 18px;
}
.feature_box {
	padding: 10% 0 10%;
}
h2.title {
	margin-bottom: 3%;
}
h3.title_en {
	margin-top: 2.5%;
}
.feature_easy .theme {
	padding-top: 5px;
	margin-top: 5%;
}
.feature_wrap .theme h4 {
	font-size: 26px;
}
.feature_wrap .theme p {
	font-size: 17px;
}
.feature_ul li {
	font-size: 16px;
	line-height: 2;
	margin: 12px 0;
	list-style-image: url(../images/li_image.png);
	list-style-position: outside;
	margin-left: 20px;
	padding-left: 11px;
}
.feature_easy {
	width: 92%;
	padding-top: 2%;
}
.i_video_box {
	position: relative;
	box-sizing: content-box;
	left: 0;
	top: 0;
	background-size: 100% 100%;
	width: 100%;
	margin-left: 0%;
	margin-top: 12%;
}
.i_video_box img {
	width: 100%;
}
.feature_face_box_left {
	width: 100%;
}
.feature_face_box_right {
	width: 100%;
}
.feature_img_box_left {
	width: 100%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_img {
	width: 92%;
}
.feature_img_box_right {
	padding-bottom: 13%;
	width: 100%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_img_box {
	margin-top: 7%;
}
.face_box img {
	top: 0px;
	left: 0;
	width: 100%;
}
.feature_face {
	padding-top: 7%;
	width: 92%;
}
.face_box {
	margin-top: 10%;
}
.feature_img {
	padding-top: 12%;
	padding-bottom: 0%;
}
.face_text_box .theme {
	padding-top: 5px;
	margin-top: 5%;
}
.face_text_box .theme {
	padding-top: 5px;
	margin-top: 5%;
}
.feature_img .theme {
	padding-top: 5px;
	margin-top: 5%;
}
.price_box {
	padding: 9% 0 9%;
}
.price_box h3.title_en {
	margin-bottom: 7%;
}
p.group_oriented {
	color: #666;
	line-height: 1;
	font-size: 13px;
	padding: 25px 0;
}
.customers_box {
	padding: 10% 0 10%;
}
.customers_box h3.title_en {
	color: #fff;
}
.customers_list_box {
	padding-bottom: 10%;
}
.download_box {
	padding: 10% 0 5%;
}
.download_list_pad {
	margin-bottom: 10%;
	padding: 0 15%;
}
.download_list {
	padding: 12% 0 10% 0;
	box-shadow: 0px 0px 5px 1px rgba(193, 193, 193, 1);
}
.product_box {
	padding: 10% 0 6%;
}
.friends {
	display: none;
}
.advantages_li p {
	font-size: 20px;
}
.feature_easy_box_left {
	width: 100%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}
.feature_easy_box_right {
	width: 100%;
	float: left;
	/*padding-right: 15px;
	padding-left: 15px;*/
	position: relative;
}
.mobile_show {
	display: block;
}
.customers_list_box {
	display: none;
}
.download_list_pad {
	padding: 0px;
	width: 340px;
	float: none;
	margin: 0 auto;
	margin-bottom: 8%;
}
.title_p {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 6%;
	padding-top: 1%;
}
.customers_list {
	width: 330px;
	margin: 0 auto;
	position: relative;
}
.mobile_costomers_ul {
	margin: 0 auto;
	width: 100%;
	padding-top: 1%;
}
.mobile_costomers_ul li {
	margin-bottom: 9%;
	height: 390px;
	position: relative;
}
.friends {
	display: none;
}
.footer-logo {
	width: 45%;
	text-align: center;
}
.footer .thumbnail {
	width: 45%;
	left: 0;
}
.footer .line {
	height: 150px;
	position: relative;
	width: 10%;
	float: left;
}
.footer .address {
	width: 100%;
	right: 0;
	padding: 3% 5% 0 13%;
}
.footer .footer-logo > img {
	margin: 0 auto;
	margin-top: 28px;
	float: none;
}
.related-links {
	width: 60%;
}
.rights {
	width: 100%;
}
.banner-wrap .text_box div a {
	display: block;
	float: left;
	width: 180px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.banner-wrap .text_box {
}
.banner-wrap .text_box h4 {
	display: none;
}
.banner-wrap .text_box h3 {
	font-size: 14px;
	margin-bottom: 9%;
}
.banner-wrap .text_box h3 i {
	padding: 0 17px 0 13px;
	font-size: 35px;
	color: #808893;
}
.banner-wrap .text_box h3 span {
	padding: 0 15px 0 0;
	color: #fff;
	background-position: right 0px;
	font-size: 24px;
}
.banner-wrap .text_box .hh span {
	font-size: 50px;
}
.banner-wrap .text_box .hh {
	text-align: left;
	font-size: 34px;
	line-height: 54px;
	color: #fff;
}
.banner-wrap .text_box div.banner_link {
}
.banner-wrap .text_box p {
	text-align: right;
	margin: 5.5% 0 5%;
	margin-right: 0%;
	font-size: 18px;
}
.banner-wrap {
	height: 525px;
}
.advantages_wrap .advantages_ul {
	margin: 0 auto;
	width: 92%;
}
.header .nav {
	padding-left: 0%;
}
.product_list_box {
	display: none;
}
.product_list_box_mobile {
	display: block;
}
}

@media (max-width: 640px) {
.hide-scroll .modal-open {
	padding-right: 0px;
}
#i_video_a_more .modal-dialog {
	width: 100%;
	margin: 0 auto;
}
.video_td {
	width: 100%;
	height: 100%;
	min-height: 400px;
}
.header .nav {
	padding-left: 0%;
}
.swiper-container1 {
	width: 65%;
}
.advantages_li p {
	font-size: 18px;
}
.feature_box {
	padding: 10% 0 10%;
}
h2.title {
	margin-bottom: 3%;
}
h3.title_en {
	margin-top: 2.5%;
}
.feature_easy .theme {
	padding-top: 5px;
	margin-top: 5%;
}
.feature_wrap .theme h4 {
	font-size: 26px;
}
.feature_wrap .theme p {
	font-size: 16px;
}
.feature_ul li {
	font-size: 15px;
	line-height: 2;
	margin: 12px 0;
	list-style-image: url(../images/li_image.png);
	list-style-position: outside;
	margin-left: 20px;
	padding-left: 11px;
}
.feature_easy {
	width: 92%;
	padding-top: 5%;
}
.i_video_box {
	position: relative;
	box-sizing: content-box;
	left: 0;
	top: 0;
	background-size: 100% 100%;
	width: 100%;
	margin-left: 0%;
	margin-top: 12%;
}
.i_video_box img {
	width: 100%;
}
.feature_face_box_left {
	width: 100%;
}



